body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    margin-top: 100px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(240, 25, 6, 0.2);
  }
  
  h1 {
    color: #f91004;
  }
  
  p {
    color: #eb0d09;
    margin-bottom: 30px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo span {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    padding: 4px;
    background-color: #db0909;
    color: #fff;
    border-radius: 4px;
    margin: 0 2px;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d80707;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #555;
  }
  